<form method="POST">
    {% csrf_token %}

    <input type="text" name="ism" value="{{ kutubxonachi.ism }}">

    <select name="ish_vaqti">
        <option value="08:00" {% if kutubxonachi.ish_vaqti == "08:00:00" %}selected{% endif %}>08:00</option>
        <option value="12:00" {% if kutubxonachi.ish_vaqti == "12:00:00" %}selected{% endif %}>12:00</option>
        <option value="16:00" {% if kutubxonachi.ish_vaqti == "16:00:00" %}selected{% endif %}>16:00</option>
    </select>

    <button>Saqlash</button>
</form>